@{
    ViewData["Title"] = "Spoken Interaction";
    ViewData["RecordingHelp"] = "DIRECTIONS: To begin recording click on the microphone image, speak into your computers microphone, and then click again on the image to stop recording. Once you are finished, click on the download button to download the file.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewData["Title"]</h2>
<h3 id="getAudioHelp">@ViewData["RecordingHelp"]</h3>
<h3 id="getTextHelp">Click on the parse button to see what IBM's Watson&trade; thinks you said, and if it will change something about the website. Click the record button to go back and record another audio track.</h3>
<p>Keywords: Change, create, background, font, color, size, (and most of <a href="https://msdn.microsoft.com/en-us/library/aa358802(v=vs.85).aspx" target="_blank">THESE</a> colors)</p>
<p>Example statement: Change the background color to magenta</p>
<script src="~/js/audioDisplay.js"></script>
<script src="~/js/recorderjs/recorder.js"></script>
<script src="~/js/receiveAudio.js"></script>
<style>
    html {
        overflow: hidden;
    }

    body {
        font: 14pt Arial, sans-serif;
        background: lightgrey;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        margin: 0 0;
        z-index: 1;
    }

    h2{
        text-align: center;
    }
    canvas {
        display: inline-block;
        background: #202020;
        width: 95%;
        max-height: 300px;
        box-shadow: 0px 0px 10px blue;
    }

    #controls {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 20%;
        width: 100%;
    }

    #record {
        height: 15vh;
        border-radius: 50%;
    }

    #record.recording {
        background: -moz-radial-gradient(center, ellipse cover, rgba(178,69,69,1) 0%, rgba(219,162,162,0.55) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(178,69,69,1) 0%,rgba(219,162,162,0.55) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(178,69,69,1) 0%,rgba(219,162,162,0.55) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b24545', endColorstr='#8cdba2a2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    #save, #save img {
        height: 10vh;
    }

    #save {
        opacity: 0.25;
    }

    #save[download] {
        opacity: 1;
    }

    #viz {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #getTextHelp{
        display: none;
    }
    #loadingGif{
        display: none;
        z-index: 10;
        float: left;
        clear: both;
        position: absolute;
        top: 40%;
        left: 45%;
    }
    #showRecording{
        display: none;
    }
    #getTextTime{
        display: none;
        /*float: right;*/
        /*clear: left;*/
        position: absolute;
        right: 15%;
    }
    #showRecording{
        /*float:left;*/
        /*clear:right;*/
        position: absolute;
        left: 15%;
    }
    #showRecording, #getTextTime {
        top: 300px;
        height: 175px;
        width: 175px;
    }
    #textOutputResult{
        display: none;
        width: 60%;
        padding: 0;
        margin: 0;
        clear: both;
        position: absolute;
        top: 500px;
        left: 20%;
        text-align:center;
    }
    button{
        border: 1px solid #202020;
        border-radius: 10px;
    }
    button:hover{
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    button:active{
        -webkit-box-shadow: inset 0px 0px 28px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 0px 28px 0px rgba(0,0,0,0.75);
        box-shadow: inset 0px 0px 28px 0px rgba(0,0,0,0.75);
    }
    #appContent{
        min-height: 600px;
    }
    #recordedAudio{
        margin-top: 10px;
    }
</style>
<div id="appContent">
    <div><button id="showRecording">Record</button></div>
    <div id="viz">
        <p id="currentInput">Current Input</p>
        <canvas id="analyser" width="1024" height="500"></canvas>
        <p id="recordedAudio">Recorded Audio</p>
        <canvas id="wavedisplay" width="1024" height="500"></canvas>
    </div>
    <div id="controls">
        <img id="record" src="~/images/mic128.png" onclick="toggleRecording(this);">
        <a id="save" href="#"><img src="~/images/save.svg"></a>
    </div>
    <div><button id="getTextTime">Parse</button></div>
    <img id="loadingGif" src="~/images/loadingGif.gif" />
    <div id="textOutputResult"></div>
</div>

