
<div class="toBeShown">
    @*@if (Model.Results.Count != 0)
    {
        <p>@Model.Results[0].Alternatives[0].Transcript</p>
    }*@
        @foreach(var word in Model)
        {
            <p>@word</p>

        }
</div>